@import "/src/sass/base/base.scss";

.notification {
	@include typography(inherit, 400, 12px, _);
    height: 12px;

	&--type--left {
		@include typography(inherit, 400, 12px, left);
	}

	&--type--center {
		@include typography(inherit, 400, 12px, center);
	}

	&--type--right {
		@include typography(inherit, 400, 12px, right);
	}

	&--type--right,
	&--type--left {
		width: 230px;
	}

	&--status--right {
		color: $text-right;
	}

	&--status--wrong {
		color: $text-wrong;
	}

	&--status--neutral {
		color: $text-neutral;
	}
}

:global(.dark) {
	.notification {
		&--status--right {
			color: $text-right-dark;
		}

		&--status--wrong {
			color: $text-wrong-dark;
		}

		&--status--neutral {
			color: $text-neutral-dark;
		}
	}
}
