@import "/src/sass/base/base.scss";

.notification {
	width: 230px;

	@include typography(inherit, 400, 12px, right);

	&--right {
		color: $text-right;
	}

	&--wrong {
		color: $text-wrong;
	}

	&--neutral {
		color: $text-neutral;
	}
}

:global(.dark) {
	.notification {
		&--right {
			color: $text-right-dark;
		}

		&--wrong {
			color: $text-wrong-dark;
		}

		&--neutral {
			color: $text-neutral-dark;
		}
	}
}
