@import "../../sass/base/base.scss";

.input {
	width: 135px;
	height: 35px;

	padding: 10px 20px;

	border: none;
	border-radius: 20px;

	@include typography(inherit, 400, 12px, left);
	background-color: $input-bg;
	color: $input-fg;

	box-shadow: $input-shadow;

	outline: none;

	&:hover {
		box-shadow: $input-shadow-hover;
	}
}

:global(.dark) {
	.input {
		box-shadow: $input-shadow-dark;

		&:hover {
			box-shadow: $input-shadow-hover-dark;
		}
	}
}
