@import "../abstracts/mixins.scss";
@import "../abstracts/variables.scss";
@import "./reset.scss";

* {
	transition-duration: 128ms;
}

body {
	font-family: Montserrat Alternates;

	color: $fg;
	background-color: $bg;

	transition-property: background-color;
}

button,
input {
	transition-property: transform box-shadow;
	&:hover {
		transform: translateY(-4px);
	}
}

:global(.dark) {
	body {
		color: $fg-dark;
		background-color: $bg-dark;
	}
}
