$bg: #ffffff;
$bg-dark: #222222;
$bg-alt: #d9d9d9;
$bg-alt: #333333;

$fg: #000000;
$fg-dark: #ffffff;

$text-right: #039900;
$text-wrong: #990000;
$text-neutral: #494949;
$text-right-dark: #04fa00;
$text-wrong-dark: #fa0000;
$text-neutral-dark: #d9d9d9;

$input-bg: #dddddd;
$input-fg: #000000;
$input-shadow: 2px 2px 0 0 #00000040;
$input-shadow-dark: 2px 2px 0 0 #ffffff95;
$input-shadow-hover: 2px 2px 0 0 #000000aa;
$input-shadow-hover-dark: 2px 2px 0 0 #ffffff66;

$button-bg: #000000;
$button-fg: #ffffff;
$button-bg-dark: #ffffff;
$button-fg-dark: #000000;
