@import "/src/sass/base/base.scss";

.hero {
	padding: 36px 0;

	&-title {
		@include typography(inherit, 400, 24px, center);
	}

    position: relative;
    &::after {
        content: "";
        width: 536px;
        height: 1px;
        background-color: $black;
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
    }
}
