@use "sass:color";
@import "/src/sass/base/base.scss";

.calculator {
	&__container {
		padding-top: 36px;
		padding-bottom: 48px;
	}

	&__title {
		padding-bottom: 49px;

		@include typography(inherit, 400, 16px, center);
	}

	&__base {
		@include flex(center, center, 38px, _, _);
	}

	&__operators {
		width: 62px;

		@include flex(center, center, 10px, wrap, _);
	}

	&__operator-button,
	&__equals-button {
		width: 25px;
		height: 25px;

		border: none;
		border-radius: 50%;

		background-color: $button-bg;
		color: $button-fg;

		cursor: pointer;

		box-shadow: $input-shadow;

		@include typography(inherit, 400, 12px, center);

		&:hover {
			box-shadow: $input-shadow-hover;
		}
	}

	&__result {
		padding: 10px 20px;
		min-width: 135px;

		border-radius: 20px;

		background-color: $input-bg;
		color: $input-fg;

		box-shadow: $input-shadow;

		@include typography(inherit, 400, 12px, left);
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;

	margin: 0;
}

:global(.dark) {
	.calculator {
		&__operator-button,
		&__equals-button {
			background-color: $button-bg-dark;
			color: $button-fg-dark;

			box-shadow: $input-shadow-dark;

			&:hover {
				box-shadow: $input-shadow-hover-dark;
			}
		}

		&__result {
			box-shadow: 3px 3px 0 0 #ffffff95;
		}
	}
}
